body {
  background-image: url("src\assets\imagenes\salas3.jpg"); /*Ubicaciónb de la imágen*/
  background-position: center center; /* imagen centrada de forma vertical y horizontal*/
  background-repeat: no-repeat; /* para que imágen de fondo no se repita*/
  background-attachment: fixed; /* para que la imágen de fondo se quede fija*/
  background-size: cover; /* para que la imágen de fondo se reescale automáticamente*/
  opacity: 0.8; /*grado de opacidad del fondo de la aplicación*/
}
input {
  border-radius: 5px;
}
h1 {
  text-align: "center";
  margin: 0 auto;
  color: white;
  font-family: Arial;
}

#principal {
  margin-left: 20px;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  width: 350px;
  border-radius: 20px;
  background-color: rgba(202, 181, 181, 0.842);
}
img {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}
p {
  border-radius: 3px;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  width: 300px;
  font-size: 14px;
}
#titulo {
  text-align: center;
  margin: 0 auto;
  border-radius: 15px;
  background-color: rgba(202, 181, 181, 0.842);
  padding: 3px;
  
}
#mapa {
  margin-left: 12px;
  text-align: center;
  padding: 3px;
}

#contenedor {
  background-color: rgba(202, 181, 181, 0.842);
  text-align: center;
  padding: 10px;
  border-radius: 12px;
}

#tablas {
  font-size: 12px;
}

a {
  text-decoration-color: white;
}
 